{% extends 'base_error.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <!-- Main component for a primary marketing message or call to action -->  
  <h1>Page introuvable</h1>
  <p><a href="{{ path('homepage') }}">Retourner a l'accueil</a></p>
{% endblock %}
