<!DOCTYPE html>
<html>
<head>
	<title>EX02</title>
</head>
<body>
	<p>
		<a href="{{ path('ex02_default_createtable') }}">Create Table</a><br>
		<a href="{{ path('ex02_default_form') }}">Form</a><br>
		<a href="{{ path('ex02_default_formsuccess') }}">Data submited render</a>
	</p>
</body>
</html>