<!DOCTYPE html>
<html>
<head>
	<title>EX03</title>
</head>
<body>
	<p>
		<a href="{{ path('ex03_default_form') }}">Form</a><br>
		<a href="{{ path('ex03_default_formsuccess') }}">Data submited render</a><br>
		Command : php bin/console doctrine:schema:update --force
	</p>
</body>
</html>